<html>
    <head>
        <title>ABOUT US</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    </head>
    <body background="desktoppic4.jpg">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <div class="tablink">
            <a href="index.html" style="color:lightblue; text-decoration:none">HOME</a>
        </div>

        <div class="tablink">
            <a href="description.html" style="color:lightblue; text-decoration:none">DESCRIPTION</a>
        </div>

        <div class="tablink">
            <a href="application.html" style="color:lightblue; text-decoration:none">APPLICATION</a>
        </div>

        <div class="tablink">
            <a href="contact.html" style="color:lightblue; text-decoration:none">ABOUT US</a>
        </div>
        <h1 class="tehc-r1">ABOUT US</h1>

        <img src="/static/echoi.PNG" width="500" height="300"
        alt="Picture" style="float: right; margin:30" border="4">
        <h3 class="tehc-r2"><b>EUGENE CHOI:</b> Our very own Flask God. Can practically debug anything reducing time wasted by half.</h3>
        <br><br><br><br><br><br><br><br>

        <img src="/static/dhan.PNG" width="500" height="300"
        alt="Picture" style="float: right; margin:30" border="4">
        <h3 class="tehc-r2"><b>DAVID HAN:</b> The website manager. Pretty boring to be honest, but gets the job done.</h3>
        <br><br><br><br><br><br><br><br>

        <img src="/static/kganotra.PNG" width="500" height="300"
        alt="Picture" style="float: right; margin:30" border="4">
        <h3 class="tehc-r2"><b>KRISH GANOTRA:</b> Has his ups and downs. Usually spends around 5 hours making a solution available online with a google search.</h3>
        <br><br><br><br><br><br><br><br>

        <img src="/static/rchowla.PNG" width="500" height="300"
        alt="Picture" style="float: right; margin:30" border="4">
        <h3 class="tehc-r2"><b>ROHAN CHOWLA:</b> The motivator. Sits in the chair, goes on the phone...basically the only one not dead from coding.</h3>
        <br><br><br><br><br><br><br><br>
    </body>
</html>
